.wrapper {
  text-align: center;
  margin-bottom: 5rem;
}

.title {
  margin-top: 3rem;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 1rem;

  @media screen and (max-width: 800px) {
    font-size: 3.5rem;
  }
}

.subtitle {
  color: #999999;
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 1.7;

  @media screen and (max-width: 800px) {
    font-size: 1rem;
  }
}

.pretitle {
  color: #999999;
  margin-bottom: -2rem;
  margin-top: 2rem;
  font-weight: 100;
  font-size: 1.2rem;
}
