.image {
  max-width: 400px;
  margin: -4rem auto 0;
}

.slogan {
  max-width: 500px;
  margin: 0 auto 1.45rem;
}

.buy {
  font-family: 'Open Sans', 'sans-serif';
  text-decoration: none;
  color: #ffffff;
  background-color: #ff863c;
  padding: 0.4rem 1.5rem;
  border-radius: 4px;
  transition: background-color 0.2s ease-out;

  @media screen and (max-width: 600px) {
    font-size: 0.7rem;
    padding: 0.4rem 1rem;
  }
}

.buy:hover {
  background-color: #ffc39e;
}

.product__info,
.award__info {
  margin: 2rem -1rem 0;
  // background-color: #f9f9f9;

  overflow: auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;
}

.award__info {
  margin-top: 0;
  border-top: 2px solid #fff;
}

.notes,
.awards {
  display: flex;
  justify-content: center;
  align-items: normal;
}

.awards {
  flex-direction: column;
}

.notes {
  padding: 2rem;
}

.notes__item,
.awards_item {
  max-width: 200px;
  width: 25%;
  font-family: 'Open Sans', 'sans-serif';
  margin: 0 1rem;
}

.notes__title
.awards_title {
  font-family: 'Open Sans', 'sans-serif';
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.8px;
}

.notes__title {
  margin-top: 1rem;
}

.notes__overlay {
  background-color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 240, 210, 0.8);
}
