.products__container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.text__container {
  display: block;
  width: 100%;
  text-align: center;
}

.last__item {
  margin-top: 1rem;
}

.title {
  font-weight: bold;
}
