.container {
  width: 100%;
  padding: 1rem;
  background-color: #ffece0;
}

.container:first-child {
  border-right: 3px solid #ffffff;

  @media screen and (max-width: 900px) {
    border-right: none;
  }
}

.container:nth-child(2) {
  background-color: #ffece0;
}

.info {
  max-width: 40rem;
  margin: 0 auto;
  font-family: 'Open Sans', 'sans-serif';
  text-align: center;
}

.title {
  font-family: 'Open Sans', 'sans-serif';
  line-height: 1.6;
  font-size: 1rem;
  margin-top: 1rem;
}

.social {
  display: flex;
  flex-direction: column;
}
