.container {
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}


.slogan {
  color: #FFF;
  line-height: 1.5;
  max-width: 300px;
  margin: -9rem auto 0;
  text-align: center;

  @media screen and (max-width: 600px) {
    margin-top: -8rem;
  }
}

.image {
  width: calc(100% + 2rem);
  height: 500px;
  margin-left: -1rem;
  margin-right: -1rem;
}


.logo {
  width: 500px;
  margin: 0 auto;
  height: auto;
  min-height: 500px;
  top: 2rem;

  @media screen and (max-width: 600px) {
    width: 400px;
    min-height: 400px;
  }
}
